{% extends "base.html" %}

{% block content %}
    <h1>Contact</h1>
      <div class="py-3">
          <h3><font color="#002F6C">contact page</font></h3>
          <p>
            This project performs physics calculations.
          </p>
          <p>
            Phys is developed and maintained by the <a href="" target="_blank">PhysLab</a> at the University of Virginia.
          </p><br>

          <p>
            If you have any questions regarding your job status, please contact Prof (@virginia.edu).
          </p>
        </div>
{% endblock %}
