{% extends "base.html" %}

{% block content %}
    <div class="py-3">
        <h3>Manual</h3>
        <h5>Submit a job</h5>
        <p>If you leave an e-mail address, will send you e-mail notifications about the job key, job status, and result URL.</p>
        <p>Once you press the Submit button, will redirect you to the key demonstration page. </p>
        <br>
        <h5>After submitting a job,</h5>
        <h5>Copy your key or redirect to the result page</h5>
        <p>In Key page, you can either click the Copy Key button to copy your job key to the clipboard and paste it somewhere for your record or click the Get your result link to redirect you to the result page and wait until the job completes. </p>
        <p>Usually, a job will take 1-2 hours to run. You can always click the Result button on the navigation bar and use your key to get your result or the job status.</p>
        <br>
        <h5>Job processing page</h5>
        <p>If your job is not finished running, the title will indicate still running status with a processing log presented in a text area; if the job is failed running, the title will indicate ends with error with the processing log indicating the error. If you are not sure why your job ends with error, please contact <a href='@virginia.edu'>us</a> with your job key for more information.</p>
        <p>If you want to share your result with others, you can send them the result link URL. Anyone can open and view an analysis result with the link URL or a job key. </p>
        <p>If your job is done successfully, the analysis result can be retrieved with the job key anytime within N days after the job submission. </p>
        <br>
        <h4>How to interpret result</h4>
        <br>
        <h5>Output 1</h5>
        <br>
        <h5>Output 2</h5>
    </div>
{% endblock %}
