{% extends "base.html" %}

{% block content %}
<h1>Femtography Plotter</h1>
Generate femtography plots below.

<hr>
<h2>Run here</h2>
<div class="formwrapper">
    <h3 class="title">Input parameters</h3>
    <form method="POST" action="/">
    {{ form.hidden_tag() }}
        <div class="form-field">{{ form.model.label }} {{ form.model }}
            {% if form.model.errors %}
                <ul class="errors">
                    {% for error in form.model.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-field">{{ form.xbj.label }} {{ form.xbj }}
            {% if form.xbj.errors %}
                <ul class="errors">
                    {% for error in form.xbj.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-field">{{ form.t.label }} {{ form.t }}
            {% if form.t.errors %}
                <ul class="errors">
                    {% for error in form.t.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-field">{{ form.q2.label }} {{ form.q2 }}
            {% if form.q2.errors %}
                <ul class="errors">
                    {% for error in form.q2.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        {{ form.submit }}
    </form>
</div>
{% endblock %}
